* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.jut {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

.pop {
    border: 1px solid burlywood;
    border-radius: 90px;
    width: 50%;
    background: #80a6f2;

    height: 153px;
    /* background: url('bg.jpg') no-repeat top center !important; */
}

body {
    /* background: url('jjjjpg.jpg') no-repeat top center;
     */

    background: #3b5998 !important;
    background-size: cover;
    /* height: 100%; */
    font-family: 'Amiri', serif;
}



.jut {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

.pop {
    border: 1px solid burlywood;
    border-radius: 90px;
    width: 50%;
    font-family: 'Amiri', serif;
    height: 153px;
    /* background: url('bg.jpg') no-repeat top center !important; */
}

.h1 {

    direction: rtl;
    font-family: 'Amiri', serif;
    text-align: center;

}

.h1 h1 {
    font-family: 'Amiri', serif;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    /* margin-bottom: 0.5em; */

}

.h2 {
    direction: rtl;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.div2 {
    direction: rtl;
    margin: 20px;

    background: #80a6f2;
    min-height: 500px;
    overflow: hidden;
    border-radius: 40px;

    ;

}

.divRight {
    margin: 0 !important;
    padding: 0 !important;
    float: right !important;
}

.divRight a {
    border-bottom: 2px solid #000;
}


.div4 {
    float: right !important;
    width: 30%;
    height: 100px;
    text-align: center
}

.lab1 {
    color: #fff;
    font-size: 1.7em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;

    font-family: 'Amiri'

}

.lab2 {
    color: #fff;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    color: #76B5B0;
    font-family: 'Amiri'

}

.text1 {
    font-size: 20px;
    border: 1px solid #000;
    font-weight: bold;
    background: #f7f7f7;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    color: #000;
    font-family: 'Amiri'
}

/* .signup-btn {
    margin-top: 40px;
    margin-bottom: 10px;
    background: #487eb0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    font-size: 20px;
    text-align: center;

} */

ul {
    list-style-type: none;
}

.menu {
    /* list-style-type: none; */
    margin-bottom: 30px;
    margin: 0;
    min-height: 500px !important;
    padding: 0;
    width: 100%;
    background: #8b9dc3;

    /* background-color: rgba(0, 0, 0, 0.8); */
    /* border-bottom: 1px solid #fff; */
}

.bg {
    background: #423c3c;
}

.jut {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.pop {
    border: 1px solid #ea5656;
    border-radius: 10px;
    width: 658px;

    height: 153px;
    background: #fff;
}

h4 {
    padding: 20px;
    text-align: center;
}

.ipn {
    margin: auto;
    margin-left: 266px;
}


li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Amiri', serif;
    font-weight: bold;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: #F2AA52;
    text-decoration: none;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    height: 800px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 3%;
}

/* .wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */



.presInfo,
.presInfojob,
.Earns,
.deductions,
.ٌRanks,
.bank {
    display: none;
}

.dirs {
    display: none;
}

.hirstu {
    display: none;
}

.emptype {
    display: none;
}

.postion {
    display: none;
}

.pro {
    display: none;
}

.cirtif {
    display: none;
}



.presInfo li :hover .ddd {
    display: block;
}

.person1,
.person2,
.person4,
.person3 {
    display: none;
}

.main {
    color: #fff;
    text-align: center;
}

.btn1 {
    font-size: 20px;
    border: 2px solid #203B8C;
    font-weight: bold;


    background: #3b5998;
    padding: 5px;
    color: #ffff;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Amiri'
}

.btn1:hover {
    transform: scale(0.90);
    background: radial-gradient(ellipse farthest-corner at top right, rgb(118, 181, 176) 0%, rgb(32, 59, 140) 100%);
    border: 3px solid #203B8C;
    color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.subMenu {
    display: none;
    margin-right: 30px;


}

.tables {
    background: #769FE8;
    color: #001EBA !important;
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
}

.table-bordered>tbody>tr>td {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.sel1 {
    font-size: 20px !important;
    border: 1px solid #000 !important;
    font-weight: bold !important;
    background: #f7f7f7 !important;
    padding: 5px !important;
    border-radius: 15px !important;
    width: 100% !important;
    text-align: center !important;
    height: 2.3em !important;

}

.optio {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Amiri'
}